* {
    margin: 0;
    padding: 0;
    font-family:楷体;
}


html,body{
    background: url('/static/img/hope.JPG') fixed center center no-repeat;
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}



a {
    text-decoration: none;
}

.canvas-wrap {
    position: relative;
}

.foot {
    width: 100%;
    height: 500px;
    background-color: yellow;
}














