<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mr'Xu">
    <meta name="Description" content="‘那可是家大公司’开发的很棒的博客网站注册页面">
    <meta name="keywords" content="‘那可是家大公司’,博客，微博，空间，我的博客，注册">
    <meta name="website" content="http://127.0.0.1:8000/">
    <link rel="shortcut icon" href="{% static 'favicon/风车.svg' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>一个普通男孩的十年</title>
</head>
<body>
<h1>一个普通男孩的十年，开发中...</h1>
</body>
</html>